@(username: String, message: String, comments: List[Comment])

@main("Comments") {

<form class="form-horizontal" action="/game" method="post">
    <div class="control-group">
        <label class="control-label" for="inputUsername">username</label>
        <div class="controls">
            <input type="text" id="inputUsername" name="username" placeholder="Username">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputMessage">Message</label>
        <div class="controls">
            <input type="text" id="inputMessage" name="message" placeholder="Message">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Post</button>
        </div>
    </div>

</form>

        <hr/>
        @for(comment <- comments) {
            <div>
                username: @comment.getUsername() <br/>
                Says: @comment.getMessage()
            </div>
        }

}
