@(commentForm: Form[Comment])
@import helper.twitterBootstrap._

@main("Comments") {
<script src="@routes.Assets.at("javascripts/climberMain.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/climber/Character.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/climber/Block.js")" type="text/javascript"></script>

<div class="row">
    <div class="span8">
        <div id="enchant-stage">

        </div>
    </div>
    <div class="span3">
        @helper.form(action = routes.Application.newComment()) {
        @helper.inputText(commentForm("username"))
        @helper.inputText(commentForm("message"))
        <button type="button" class="btn" onclick="postComment();">Post</button>
        }

        <hr/>

        <div id="comments">
        </div>
    </div>
</div>

<script id="commentTemplate" type="text/x-handlebars-template">
    {{#each comments}}
    <div class='well well-small'>
        <strong>{{this.username}}</strong> ({{this.postDate}}) <br/>
        Says: {{this.message}}
    </div>
    {{/each}}
</script>

<script type="text/javascript">
    function postComment() {
        var json = {
            username: $('#username').val(),
            message: $('#message').val()
        }
        $.ajax({
            type: "POST",
            url: "/newJSONComment",
            contentType: 'application/json',
            data: JSON.stringify(json)
        })
    }

    $(function(){
        var source   = $("#commentTemplate").html();
        var commentTemplate = Handlebars.compile(source);

        setInterval(function(){
            $.getJSON("/commentList", processCommentsList)
        },1000);

        function processCommentsList(commentsResponse) {
            $("#comments").html(commentTemplate(commentsResponse));
        };

    });
</script>

}
